= render partial: 'admin/stream/shared/top_navigation', locals: { page: :users }

.panel.panel-default
  = render partial: 'admin/stream/shared/panel_heading', locals: { heading: 'Import linków' }

  .panel-body.text-center
    %br
    .row
      .col-md-6.col-md-offset-3.well
        = form_tag review_admin_stream_event_stream_import_links_path(@event), method: :post, multipart: true do |f|
          .form-group
            %h4 Plik CSV muśi być w formacie UTF-8, rozdzielony średnikiem i bez nagłówków.
            %p Jest pobierane z pierwszych dwóch kolumn
            %code 11@tvip.pl;https://event.webcaster.pl/1;cokolwiek-dalej
            %code 12@tvip.pl;https://event.webcaster.pl/2;cokolwiek-dalej
            - 2.times do
              %br
          .form-group
            = label_tag :file_input, 'CSV plik', class: 'col-md-2'
            .col-md-10
              = file_field_tag :file_input
          %br
          %br
          %br
          .form-group
            = submit_tag 'Kontynuj', class: "btn btn-success"
