= render partial: 'admin/stream/shared/top_navigation', locals: { page: :users }

.panel.panel-default
  .panel.panel-default
    = render partial: 'admin/stream/shared/panel_heading', locals: { heading: 'Użytkownicy' }
  .panel-body
    .container
      .news-container
        .row
          .col-sm-12
            %h1{style: 'margin-top: 0'} Uźytkownik '#{@access.full_name}'
            %hr
            .row
              .col-md-6
                .row
                  .col-sm-12
                    %table.table
                      %tbody
                        %tr
                          %td Całkowity czas oglądania(bez przerw)
                          %td= @access.watched_minutes
                        %tr
                          %td Kwalifikuje się do testu
                          %td= @access.kwalifukuje_sie_to_testu
                %br
                %br
                .row
                  .col-sm-12.col-md-8.col-md-offset-4
                    .text-right
                      = form_for :statistics, url: edit_admin_stream_event_stream_access_path(@event, @access), method: :get do |f|
                        .col-sm-5
                          - start = (params.dig(:statistics, :start)&.to_datetime || @event.starting || 1.day.ago).strftime('%d/%m/%Y %H:%M')
                          = f.text_field :start, value: start, class: 'form-control datetimepicker input-sm'
                        .col-sm-5
                          = f.select :hours, options_for_select((1..9).map { |h| [distance_of_time_in_words(h.hours), h] }, params.dig(:statistics, :hours) || 5), {}, class: 'form-control input-sm'
                        .col-sm-2
                          = f.submit 'Wyślij', class: 'btn btn-primary btn-sm'
                %div{style: 'height: 200px; position: relative'}
                  = line_chart @data, @options
              .col-md-6.col-sm-12
                = render 'form'
